@import "~bootswatch/dist/simplex/variables";

$HOST: "https://www.britishairways.com";

@mixin desktop {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin logo($href) {
  display: block;
  background-image: url($href);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
}

@mixin triangle($size, $color) {
  &::after {
    content: "";
    position: absolute;
    bottom: -$size;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }
}

@mixin shadow {
  text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}
