@import "styles/variable";

.form {
  width: 100%;
  display: flex;

  color: $white;

  svg {
    color: $white;
  }
}

.back {
  outline: 0;

  border: 0;
  background: transparent;
  padding: 0 1rem;

  display: flex;
  align-items: center;
}

.content {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  span {
    display: flex;
    align-items: center;
  }

  > * {
    flex: 1;

    margin: 0 0.3rem;
  }
}
