@import "styles/variable";

.toolbar {
  display: flex;
  align-items: center;
  height: 4rem;
}

.submit {
  background: $b_red;
  padding: 0;
  border: 0;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  label {
    color: $gray-600;
    font-weight: 600;

    left: 0.7rem;
  }

  input {
    padding: 0.5rem;
  }
}
