@import "styles/variable";

.triggers {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    flex: 1;
  }

  > :nth-child(2) {
    border-left: 1px solid $gray-400;
    border-right: 1px solid $gray-400;
  }
}

.trigger {
  outline: 0;
  background: transparent;
  margin: auto;
  border: 0;

  font-size: medium;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0.5rem 0;
  }

  @include desktop {
    flex-direction: row;

    > * {
      margin: 0 0.2rem;
    }
  }
}

.icon {
  $size: 2rem;
  width: $size;
  height: $size;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $d_blue;

  border: 2px solid $d_blue;
  border-radius: 100%;

  @include easeOutExpo;
}

.hover {
  &:hover {
    > :first-child {
      color: $white;
      background: $d_blue;
    }
  }
}
