.logo {
  background: url("https://www.britishairways.com/cms/global/assets/images/site/brand/ba_speedmarque_positive.svg")
    no-repeat;
  background-size: contain;

  display: block;
  $size: 1.3rem;
  width: $size * 4;
  height: $size;

  font-size: 0;
}
