@import "styles/variable";

.page {
  background: #f1f1f1;
  padding: 1rem 0;

  > div {
    padding: 0.8rem;
    max-width: 59rem;
    margin: auto;
  }
}

.ad_group {
  > * {
    margin: 1rem 0;
  }
}
