@import "styles/variable";

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: $red;

  padding: 3rem 0;

  > * {
    padding: 0 0.6rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $white;
  @include shadow;

  margin-top: 3rem;

  h3 {
    margin: 0 1rem;

    text-align: center;
    font-size: x-large;
  }

  h5 {
    font-weight: 600;
  }

  > * {
    margin: 1rem 0;
  }

  @include desktop {
    button {
      width: 12rem;
    }
  }
}
