@import "styles/variable";

@mixin fixed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.textfield {
  position: relative;

  $border: 1px;
  $padding: 16px;

  @include box;
  border: $border solid $gray-200;

  input {
    padding: $padding;
    border: 0;
    border-left: $border * 4 solid transparent;
    font-size: 1.2rem;

    width: 100%;
  }

  label {
    @include fixed;
    @include easeOutExpo;

    left: $padding + $border * 4;
    transform-origin: left top;
  }

  span {
    @include easeOutExpo;

    margin-left: 1rem;
    opacity: 1;

    font-size: small;
    font-style: italic;
    color: $gray-900;
  }

  input:focus {
    border-left: $border * 4 solid $blue;

    & + label {
      transform: translateY(-120%) scale(0.6);

      span {
        opacity: 0;
      }
    }
  }
}
